:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: var(--background);

  color: var(--foreground);
  font-family: var(--font-roboto-condensed-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Text */
.css-text-146c3p1 {
  font-family: var(--font-roboto-condensed-sans), sans-serif;
  color: var(--foreground);

  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
}

/* Swiper */
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #555555;
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
}

.swiper .swiper-button-prev {
  left: -8px;
}

.swiper .swiper-button-next {
  right: -8px;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
}

.swiper .swiper-pagination-bullet {
  background: #555555;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-fade .swiper-slide {
  transition-property: opacity;
  /* transition-duration: 800ms; */
}
